@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-950: #1d1e25;
  --color-gray-900: #343a40;
  --color-gray-400: #8d8d8d;
  --color-gray-50: #fafafa;
  --color-orange-400: #f3603c;
  --color-orange-350: #f98f75;
  --color-orange-50: #fff0ec;
  --color-blue-950: #242d52;
  --color-blue-50: #e5e9ea;
  --color-red-500: #f33c3c;
  --background-image-gradient-1: linear-gradient(#00000000 0%, #000 100%);
  --shadow-orangebtn: 0 15px 15px -10px #ff9f8e;
  --shadow-whitebtn: 0 15px 15px -10px #db5943;
  --font-sans: "Be Vietnam Pro", sans-serif;
}

@utility preset-1 {
  @apply font-bold text-[3.5rem] leading-[115%] tracking-[-1px];
}
@utility preset-2 {
  @apply font-bold text-[2.5rem] leading-[110%] tracking-[-0.75px];
}

@utility preset-3 {
  @apply font-bold text-[2rem] leading-[140%] tracking-normal;
}

@utility preset-4-b {
  @apply font-bold text-base leading-[145%] tracking-normal;
}

@utility preset-4-r {
  @apply font-normal text-base leading-[162.5%] tracking-normal;
}

@utility preset-5-b {
  @apply font-bold text-[0.8125rem] leading-[145%] tracking-normal;
}

@utility preset-5-m {
  @apply font-medium text-[0.8125rem] leading-[145%] tracking-normal;
}

@utility preset-5-r {
  @apply font-normal text-[0.8125rem] leading-[200%] tracking-normal;
}

@utility preset-6 {
  @apply font-normal italic text-[0.625rem] leading-[150%] tracking-normal;
}

@utility orangeBtn {
  @apply cursor-pointer bg-orange-400 preset-5-b text-white shadow-orangebtn hover:bg-orange-350 rounded-[22px] px-8 py-4;
}

@utility whiteBtn {
  @apply cursor-pointer bg-white preset-5-b text-orange-400 shadow-whitebtn hover:text-orange-400/50 rounded-[22px] px-8 py-4;
}

@utility deskNavItem {
  @apply cursor-pointer preset-5-m text-blue-950 hover:opacity-50;
}

@utility mobNavItem {
  @apply cursor-pointer preset-4-b text-blue-950 hover:opacity-50;
}

@utility footerNavItem {
  @apply cursor-pointer preset-4-r text-white hover:text-orange-400;
}

@utility featureText {
  @apply preset-5-r md:preset-4-r text-blue-950/50;
}

@utility dot {
  @apply cursor-pointer w-2 h-2 border border-orange-400 rounded-full;
}

@utility active {
  @apply bg-orange-400;
}

@utility inputEmail {
  @apply w-full bg-white px-6 self-stretch rounded-[22px] placeholder:text-gray-400  focus:outline-2 focus:outline-offset-2 focus:outline-blue-50 invalid:not-placeholder-shown:ring-1 invalid:not-placeholder-shown:ring-inset invalid:not-placeholder-shown:ring-red-500;
}
